
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:white;
    color:lightslategray;
    line-height:1.7;
}

/*Common Styles */

section{
    padding:80px 0;
}

.section-title{
    font-size:2.5rem;
    font-weight:700;
    color:#228B22;
    margin-bottom:15px;
}

.section-subtitle{
    color:#666;
    margin-bottom:50px;
}

img{
    width:100%;
    display:block;
}



.btn-custom{
    background:#7B3F00;
    color:#fff;
    padding:12px 28px;
    border-radius:30px;
    transition:.3s;
    font-weight:600;
}



/* Navbar*/
 .navbar{ 
    background:  #7B3F00 !important;
    box-shadow:0 4px 12px rgba(0,0,0,.08);
}

.navbar-brand{
    font-size:1.8rem;
    font-weight:700;
    color:#fff !important;
}

.navbar-nav .nav-link{
    color:#fff !important;
    margin-left:18px;
    font-weight:500;
    transition:.3s;
}

.navbar-nav .nav-link:hover{
    color: #7B3F00!important;
} 



/*  Welcome Section*/

.welcome{
    background:#fff;
    padding:80px 0;
}

.welcome img{
    border-radius:15px;

}

.welcome-content h2{
    color: #7B3F00;
    font-weight:700;
    margin-bottom: 25px;
}

.welcome-content p{
    color:black;
    margin-top:20px;
    font-size: 20px;
}
.welcome-font h2{
    color: #7B3F00;
    margin-bottom: 15px;
    font-weight:700;
}
.welcome-font p{
    color:black;
    font-size: 20px;
}


/* Featured Dishes*/

.feature-card{
    border:none;
    border-radius:15px;
    overflow:hidden;
    transition:.4s;
    box-shadow:0 8px 18px rgba(0,0,0,.08);
}

.feature-card img{
    height:230px;
    object-fit:cover;
}

.feature-card .card-body{
    text-align:center;

}

.feature-card h5{
    font-weight:700;
    color:#7B3F00;
}

.feature-card p{
    color:black;
    font-size:20px;
}

.price{
    font-size:1.2rem;
    font-weight:700;
    color:#28a745;
}

.feature-font{
   font-weight:700;
    color:#7B3F00;
}
/* About Section */

.about{
    background:#fff8f2;
}

.about-img img{
    border-radius:15px;
    box-shadow:0 8px 25px rgba(0,0,0,.15);
}

.about-content h2{
    color:#7B3F00 !important;
    font-weight:700;
    margin-bottom:20px;
}



/*Menu Section */

.menu{
    background:#ffffff;
}

.menu-card{
    background:#fff;
    border-radius:15px;
    padding:25px;
    margin-bottom:30px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:0.3s;
}


.menu-box h4{
    color:#7B3F00;
    font-weight:700;
    margin-bottom:20px;
    border-bottom:2px solid #f1f1f1;
    padding-bottom:10px;
}

.menu-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:18px;
}



.menu-box span{
    font-size:18px;
    font-weight:700;
    color:#28a745;
}
.our-menu{
    color:#7B3F00;
    font-weight:700;

}

/*  Gallery Section */

.gallery{
    background:#fff8f2;
}

.gallery-item{
    overflow:hidden;
    border-radius:15px;
    margin-bottom:25px;
}

.gallery-item img{
    width:100%;
    height:250px;
    object-fit:cover;
    transition:0.5s;
}
 .gallery-content{
    color:#7B3F00;
    font-weight:700;

 }

/* about */
.about-content h2{
    color:#7B3F00;
}
.about-content p{
    color:black;
}
.about-content li{
    color:black;
}
.customer-content{
     color:#7B3F00;
    font-weight:700;
   
}
/* fotter */
.footer-content{
    
    color:white;
}
.footer-area{
   background:  #7B3F00 !important;
}
.button-area{
    background: #7B3F00 !important;
}



/*  Contact Section */

.contact{
    background:#fff;
}

.contact-box{
    background:#fff8f2;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    height:100%;
}
.contact-content h2{
     color:#7B3F00; 
     font-weight:700;   
}
.contact-content h5{
    color: black;
}
